.nav{
    position: fixed;
    top:0;
    display: flex;
    width:100%;
    padding:20px;
    justify-content: space-between;
    /* height:100px; */
    /* background-color: #111; */
    height: 25px;
    z-index: 1;
    transition-timing-function: ease-in ;
    transition: all 0.5s;

}
.nav_logo{
    position: fixed;
    /* padding-top:20px; */
    left:20px;
    width:80px;
    object-fit: contain;
}
.nav_avatar{
    position: fixed;
    /* padding-top:20px; */
    right:20px;
    width:30px;
    object-fit: contain;
}
.nav_black{
    background-color: #111;
}